@keyframes animation1{
  from {background-color: grey;}
  to {background-color: red;}
}
@keyframes animation2{
  from {background-color: grey;}
  to {background-color: yellow;}
}
@keyframes animation3{
  from {background-color: grey;}
  to {background-color: green;}
}
.body{
	width:200px;
	height: 380px;
	background-color:black;
	border-radius: 10px;
}
.circle1 {
animation-name: animation1;
animation-duration: 3s;
  width: 100px;
  height: 100px;
  background-color: grey;
	border-radius: 50%;
	margin-left:50px;
	margin-bottom:10px;
	font-size:70px;
	text-align:center;
	padding-top:15px;
	color:white;
}
.circle1:hover{
width: 110px;
height: 140px;
border-radius: 10px;
  transition: width 2s, height 4s;
    transform: skew(5deg, 5deg);
}
.circle2 {
animation-name: animation2;
animation-duration: 3s;
animation-delay: 3s;
  width: 100px;
  height: 100px;
  background-color: grey;
	border-radius: 50%;
	margin-left:50px;
	margin-bottom:10px;
	font-size:70px;
	text-align:center;
	padding-top:15px;
	color:white;
}
.circle3 {
animation-name: animation3;
animation-duration: 1s;
animation-delay: 6s;
animation-iteration-count: 3;
  width: 100px;
  height: 100px;
  background-color: grey;
	border-radius: 50%;
	margin-left:50px;
	margin-bottom:10px;
	font-size:70px;
	text-align:center;
	padding-top:15px;
	color:white;
}
 

